/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  border-bottom: 1px solid #dadce0;
  padding: 8px;
  margin: 0 10px;
  color: #5f6368;
}

/* Logo area */
.logo-area {
  display: flex;
  align-items: center;
}
.logo-text {
  font-size: 1.4rem;
}

/* Search area */
.search-area {
  background: #f1f3f4;
  height: 48px;
  width: 692px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.search-area input {
  background: #f1f3f4;
  border: none;
  width: 95%;
  height: 100%;
  font-size: 1rem;
}
input:focus {
  outline: none;
}
.search-area span {
  margin: 0px 8px;
}

/* Settings section */
.settings-area {
  display: flex;
}

/* Profile section */
.profile-actions-area {
  display: flex;
}
.apps {
  left: 4px;
}
