/* ROBOTO FONT */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* EVERYTHING */
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Material icons and hover */
.material-symbols-outlined {
  padding: 10px;
}
.hover:hover {
  background: #f1f3f4;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}

/* ToolTips */
.tooltip {
  position: relative;
  display: inline;
}
.tooltip-text {
  position: absolute;
  left: -5px;
  top: 100%;
  font-size: 0.8rem;
  background-color: #323232;
  color: white;
  opacity: 0.8;
  padding: 5px;
  white-space: nowrap;
  border-radius: 5px;
  visibility: hidden;
  z-index: 1;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}
